@page
@model IndexModel

@section RightCommands
    {
    <div x-data>
        <button x-cloak x-show="$store.camera.isAvailable" type="button" class="btn btn-primary" id="capture" x-on:click="$dispatch('refresh')" title="Take a Photo">
            <i class="bi bi-camera-fill"></i>
        </button>
    </div>
}

<div x-data>
    <template x-if="$store.camera.isAvailable == false">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <h1 class="display-1 fw-bold"><i class="bi bi-camera-video-off-fill"></i></h1>
                    <p class="fs-3"><span class="text-danger">Ops!</span> Camera not available.</p>
                    <p class="lead">
                        You need to give the site access to your camera.
                    </p>
                    <p class="lead">
                        Go to your Browser settings and allow access to it. It may be necessary to reload the page after the change.
                    </p>
                    <a title="Reload" href="/" class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i> Reload</a>
                </div>
            </div>
        </div>
    </template>
</div>

<div class="row" x-data="vision" @@refresh.window="takePhoto($refs.player)">
    <div class="col-12 col-md-6 text-center">
        <video id="player" playsinline autoplay width="320" x-ref="player"></video>
    </div>
    <div class="col-12 col-md-6">
        <div x-cloak x-show="isBusy">
            <div class="mt-5 text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <span x-show="description" x-text="description + ' (' + (confidence*100).toFixed(2) + '%)'"></span>
        <template x-if="errorMessage">
            <div class="alert alert-danger fade show" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2" aria-hidden="true"></i>
                <span x-text="errorMessage"></span>
            </div>
        </template>
    </div>
</div>

@section Scripts
    {
    <script>
        const player = document.getElementById('player');

        const constraints = {
            video: {
                facingMode: "environment",
            }
        };

        navigator.mediaDevices.getUserMedia(constraints).then(stream => {
            // Attach the video stream to the video element and autoplay.
            Alpine.store('camera').isAvailable = true;
            player.srcObject = stream;
        }).catch(error => {
            Alpine.store('camera').isAvailable = false;
        });

        document.addEventListener("alpine:init", () => {
            Alpine.store('camera', {
                isAvailable: null
            });

            vision('@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName');
        });
    </script>
}
